<!-- account summary card, changes displayed fields based on user account type -->
<!-- edit / message buttons conditional on which page the card is being loaded in to -->

<div class="col-md-8">
    <div class="card mb-3">
        <div class="card-body">

            <% Object.keys(account).forEach(function(property)  { %>
                <% if((account[property] !== null) && propertyLabels[property]) { %>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0"><%= propertyLabels[property] %></h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <%= account[property] %>
                        </div>
                    </div>
                    <hr>
                <% } %>
            <% }); %>

            <!-- field applicable to all

            <!-- edit button for my account page only -->
            <% if (currentPage == 'account') { %>
                <div class="row">
                    <div class="col-sm-12">
                    <a class="btn btn-info " target="#" href="#" id="edit">Edit</a>
                    </div>
                </div>
            <% } %>

            <!-- message button for messages page only -->
            <% if (currentPage == 'connections') { %>
                <div class="row">
                    <div class="col-sm-12">
                    <a class="btn btn-info " target="#" href="#" id="message">Message</a>
                    </div>
                </div>
            <% } %>

        </div>
    </div>
</div>