<!-- form to be used for Non-profits and NGOs -->
<form id="OrganizationRegistration" style="display: none;">
    Register for assistance by filling the following Organization Registration form:

    <input type="hidden" name="accountType" value="organization">

    <div class="form-group">
        <label for="name">Organization Name:</label>
        <input type="text" class="form-control" name="name" placeholder="Organization" required>
    </div>

    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>

    <div class="form-group">
        <label for="registrationEmail">Point of Contact Email Address:</label>
        <input type="email" class="form-control" name="registrationEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
    </div>

    <div class="form-group">
        <label for="registrationPassword">Password:</label>
        <input type="password" class="form-control" name="registrationPassword" placeholder="Password" required>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
        <div id="passwordError" style="color: red; display: none;">Passwords do not match</div>
    </div>

    <div class="form-group">
        <label for="concerns">Areas of Concern:</label>
        <input type="text" class="form-control" name="concerns" placeholder="Data Protection and Privacy; Phishing; Training and Awareness..." required>
    </div>

    <div class="form-group">
        <label for="missionStatement">Mission Statement:</label>
        <input type="text" class="form-control" name="missionStatement" placeholder="Add your organization's mission statement here." required>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>

</form>