<!-- form to be used for Volunteers (Cybersecurity Specialists) -->
<form id="VolunteerRegistration" style="display: none;">
    Become a volunteer by completing the following Volunteer Registration form:

    <input type="hidden" name="accountType" value="volunteer">

    <div class="form-group">
        <label for="name">Full Name:</label>
        <input type="text" class="form-control" name="name" placeholder="Firstname Lastname" required>
    </div>

    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>

    <div class="form-group">
    <label for="registrationEmail">Email address:</label>
    <input type="email" class="form-control" name="registrationEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
    </div>

    <div class="form-group">
        <label for="registrationPassword">Password:</label>
        <input type="password" class="form-control" name="registrationPassword" placeholder="Password" required>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
        <div id="passwordError" style="color: red; display: none;">Passwords do not match</div>
    </div>

    <div class="form-group">
        <label class="my-1 mr-2" for="availability">Weekly availability:</label>
        <select class="custom-select my-1 mr-sm-2" id="availability" name="availability" required>
        <option selected>Choose...</option>
        <option value="0-10">0-10 hrs</option>
        <option value="11-20">11-20 hrs</option>
        <option value="21-30">21-30 hrs</option>
        <option value="31-40">31-40 hrs</option>
        <option value="40+">40+ hrs</option>
        </select>
    </div>

    <div class="form-group">
        <label class="my-1 mr-2" for="backgroundCheck">Do you possess a valid criminal background check?</label>
        <select class="custom-select my-1 mr-sm-2" id="backgroundCheck" name="backgroundCheck" required>
        <option selected>Choose...</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        </select>
    </div>

    <div class="form-group">
        <label class="my-1 mr-2" for="currentlyAvailable">Are you currently available to work?</label>
        <select class="custom-select my-1 mr-sm-2" id="currentlyAvailable" name="currentlyAvailable" required>
        <option selected>Choose...</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        </select>
    </div>

    <div class="form-group">
        <label for="name">LinkedIn Profile:</label>
        <input type="url" class="form-control" name="linkedin" placeholder="https://www.linkedin.com/in/.../">
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>