body {
    background-color: lightskyblue;
    font-size: 2rem;
}

header, footer {
    background-color: lightskyblue;
    padding: 1rem;
    font-size: 1rem;
}

main {
    background-color: lightskyblue;
    padding: 1rem;
}