body {
    background-color: rgb(174, 224, 255);
    padding-bottom: 3rem;
    /* make room for the navbar at the top due to fixed position */
    padding-top: 5vh;
}

header {
    background-color: rgb(88, 185, 245);
    /* 'fix' the navbar at the top of the screen while user scrolls */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

main {
    margin-top: 2rem;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #333;
    color: #fff; /* Text color */
    padding: 0.5rem 1rem;
    border-top-left-radius: 1rem; /* Rounded corners */
}

main {
    background-color: rgb(174, 224, 255);
}

/* option to remove margin when desired from cards, etc */
.no-margin {
    margin-bottom: 0 !important;
}

/* added scrollable window feature for when messages are too long */
/* default should be 'scrolled down' via JS */
.scrollable-messages {
    min-height: 40vh;
    max-height: 40vh;
    overflow-y: scroll;
}

/* added scrollable window feature for when conversation list is too long */
/* seperate from messages in order to have varied JS listeners */
/* default should be 'scrolled up' via JS */
.scrollable-conversations {
    min-height: 40vh;
    max-height: 40vh;
    overflow-y: scroll;
}

/* add CSS styles specific to the home page here: */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
}
#splash {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#about {
    position: absolute;
    top: 100%;
    height: 100%;
    width: 80%;
}

/* partner company logos */
.logo {
    width: 100%; 
    height: auto;
    max-width: 10vh;
}

