<!-- basic layout template for the website -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Dynamic page title -->
    <title><%= pageTitle %> - GuardianLink</title>
    <!-- Include CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- include header template -->
    <%- include('../partials/header.ejs') %>

    <main>
        <div class="container">
            <!-- Content injected from desired page -->
            <%- body %>
        </div>
    </main>

    <!-- include footer template -->
    <%- include('../partials/footer.ejs') %>

    <!-- Include JavaScript -->
    <script src="/js/main.js"></script>
</body>

</html>