<!-- My account page. Display account info with option to update info or delete account. -->

<!-- add first part of layout template -->
<%- include('../layouts/layoutFirst.ejs') %>

<!-- page body -->
<h1>Account Information</h1>
<br>

<%- include('../partials/accountCard.ejs') %>

<!-- add last part of layout template -->
<%- include('../layouts/layoutLast.ejs') %>