<!-- registration -->

<!-- add first part of layout template -->
<%- include('../layouts/layoutFirst.ejs') %>

<!-- page body -->
<h1>Create a new account</h1>
<br>

<fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Select the desired account type:</legend>
      <div class="col-sm-10">

        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="registerOrganization" value="organization">
          <label class="form-check-label" for="registerOrganization">
           Non-Profit Organization or NGO
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="registerVolunteer" value="volunteer">
          <label class="form-check-label" for="registerIndividual">
            Individual volunteer (Cybersecurity Specialist)
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="registerAdmin" value="admin">
          <label class="form-check-label" for="registerAdmin">
            Admin (super user)
          </label>
        </div>

      </div>
    </div>
</fieldset> 
<br>

<div id="dynamicFormContainer">
  <!-- Dynamically inserted form goes here. -->
</div>



<script src="/js/accountCreation.js"></script>

<!-- add last part of layout template -->
<%- include('../layouts/layoutLast.ejs') %>