<!-- Display account info with option to update info or delete account. -->

<!-- add first part of layout template -->
<%- include('../layouts/layoutFirst.ejs') %>

<!-- page body -->
<h1>Edit your account information</h1>
<br>

<%- include('../partials/accountEditCard.ejs') %>
<script src="/js/accountEdit.js"></script>

<!-- add last part of layout template -->
<%- include('../layouts/layoutLast.ejs') %>