<!-- Connections page, where to discover other accounts -->

<!-- add first part of layout template -->
<%- include('../layouts/layoutFirst.ejs') %>

<!-- page body -->
<h1>Connections</h1>

    <!-- Container for account cards -->
    <div id="accountCardsContainer">
        <!-- Iterate over accounts data to display account cards -->
        <% accounts.forEach(function(account) { %>

            <%- include('../partials/accountCard.ejs', { account: account }) %>

        <% }); %>
    </div>

<script src="/js/connections.js"></script>

<!-- add last part of layout template -->
<%- include('../layouts/layoutLast.ejs') %>