<!-- Connections page, where to discover other accounts -->

<%
    // Create a content variable containing the body
    var content = `
        <h1>Connections</h1>

    ` 
    
%>

<%- include('../layouts/layout.ejs', { body: content }) %>