<!-- homepage -->

<!-- add first part of layout template -->
<%- include('../layouts/layoutFirst.ejs') %>

<!-- page body -->
<div class="home container">
    <div id="splash" class="text-center my-4">
        <h1 class="text-center my-4">Welcome to GuardianLink</h1>
        <p class="lead text-center">Connecting cybersecurity volunteers with non-profit organizations in need.</p>
        <button id="learnMore" class="btn btn-primary">Learn More</button>
    </div>

    <div id="about" class="my-2">
        <h1 class="text-center mb-4">About Us</h1>
        <div class="container ">

            <div class="col-md-12">
                <div class="row justify-content-center mb-3">
                    <div class="card text-center mb-3">
                        <h4 class="card-header">Who we are?</h4>
                        <div class="card-body">
                            <p class="card-text">GuardianLink is a platform dedicated to bridging the gap between providers of cybersecurity specialists
                                and clients in need of these services. Our primary focus is on supporting non-profit organizations at no
                                cost to them.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between mb-3">
                <div class="col">
                    <div class="card mb-3">
                        <h4 class="card-header text-center ">What we do?</h4>
                        <div class="card-body">
                        <p class="card-text">Our platform facilitates a streamlined process: cybersecurity professionals seeking to volunteer can
                            easily join through our web application to offer their expertise and aid. Simultaneously, non-profit
                            organizations can also apply to become clients of our company, seeking the assistance they require.</p>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card mb-3 ml-md-auto">
                        <h4 class="card-header text-center">Why we do it?</h4>
                        <div class="card-body">
                        <p class="card-text">Our overarching goal is to seamlessly connect these two ends of the spectrum, ensuring that the need
                            for cybersecurity assistance within non-profit organizations is met by dedicated and skilled volunteers.
                            At GuardianLink, our mission is to fulfill these needs efficiently and effectively.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row justify-content-around mb-3">
                    <div class="card text-center mb-3">
                        <h4 class="card-header">Partnerships</h4>
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-md-2">
                                    <img src="/img/partner_1.svg" class="logo" alt="CyberNexus">
                                    <p>CyberNexus</p>
                                </div>
                                <div class="col-md-2">
                                    <img src="/img/partner_2.svg" class="logo" alt="RedGrid Dynamics">
                                    <p>RedGrid Dynamics</p>
                                </div>
                                <div class="col-md-2">
                                    <img src="/img/partner_3.svg" class="logo" alt="Planetary Tech">
                                    <p>Planetary Tech</p>
                                </div>
                                <div class="col-md-2">
                                    <img src="/img/partner_4.svg" class="logo" alt="Blossom Barrier">
                                    <p>Blossom Barrier</p>
                                </div>
                                <div class="col-md-2">
                                    <img src="/img/partner_5.svg" class="logo" alt="ByteBee Solutions">
                                    <p>ByteBee Solutions</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
 
    </div>
</div>

<script src="/js/home.js"></script>

<!-- add last part of layout template -->
<%- include('../layouts/layoutLast.ejs') %>