<!-- homepage -->

<%
    // Create a content variable containing the body
    var content = `
        <h1>Welcome to GuardianLink</h1>
        <p>This is the homepage of GuardianLink. We connect cybersecurity volunteers with non-profit organizations in need.</p>
    `;
%>

<%- include('../layouts/layout.ejs', { body: content }) %>