<!-- homepage -->

<!-- add first part of layout template -->
<%- include('../layouts/layoutFirst.ejs') %>

<!-- page body -->
<h1>Welcome to GuardianLink</h1>
<p>This is the homepage of GuardianLink. We connect cybersecurity volunteers with non-profit organizations in need.</p>

<!-- add last part of layout template -->
<%- include('../layouts/layoutLast.ejs') %>