<!-- homepage -->

<% layout('layouts/layout') %>

<% section('pageTitle', 'Home') %>

<% section('body') %>
    <h1>Welcome to GuardianLink</h1>
    <p>This is the homepage of GuardianLink. We connect cybersecurity volunteers with non-profit organizations in need.</p>
<% endSection %>
