<!-- login -->

<!-- add first part of layout template -->
<%- include('../layouts/layoutFirst.ejs') %>

<!-- page body -->
<h1>Please log in to use GuardianLink</h1>
<br>

<form id="login">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>

    <div class="form-group text-right">
      <input type="checkbox" id="showPasswordCheckbox"> Show Password
    </div>

    <div class="row align-items-center">
      
      <div class="col text-left">
        <!-- login -->
        <button type="submit" class="btn btn-primary">Log In</button>
      </div>

      <div class="col text-right">
        <!-- forgotten password option -->
        <a href="/forgot" type="button" class="btn btn-outline-info" >I Forgot My Password</a>
      </div>
      
    </div>

  
  </div>
</form>

<script src="/js/login.js"></script>

<!-- add last part of layout template -->
<%- include('../layouts/layoutLast.ejs') %>