<!-- Messages page to view and send messages -->

<!-- add first part of layout template -->
<%- include('../layouts/layoutFirst.ejs') %>

<!-- page body -->
<h1>My Messages</h1>

<script src="/js/messages.js"></script>

<!-- add last part of layout template -->
<%- include('../layouts/layoutLast.ejs') %>