<!-- registration -->

<%
    // Create a content variable containing the body
    var content = `
        <h1>Register for a new GuardianLink account</h1>

        <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Select the applicable option:</legend>
              <div class="col-sm-10">

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="registerOrganization" value="organization">
                  <label class="form-check-label" for="registerOrganization">
                    I represent a Non-Profit Organization or NGO
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="registerIndividual" value="individual">
                  <label class="form-check-label" for="registerIndividual">
                    I am an individual volunteer (Cybersecurity Specialist)
                  </label>
                </div>

              </div>
            </div>
        </fieldset>

        <!-- form to be used for Non-profits and NGOs -->
        <form id="OrganizationRegistration" style="display: none;">
            Register for assistance by filling the following Organization Registration form:

            <input type="hidden" name="accountType" value="organization">

            <div class="form-group">
                <label for="name">Organization Name:</label>
                <input type="text" class="form-control" name="name" placeholder="Organization" required>
            </div>

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>

            <div class="form-group">
              <label for="registrationEmail">Point of Contact Email Address:</label>
              <input type="email" class="form-control" name="registrationEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>

            <div class="form-group">
                <label for="registrationPassword">Password:</label>
                <input type="password" class="form-control" name="registrationPassword" placeholder="Password" required>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                <div id="passwordError" style="color: red; display: none;">Passwords do not match</div>
            </div>

            <div class="form-group">
                <label for="concerns">Areas of Concern:</label>
                <input type="text" class="form-control" name="concerns" placeholder="Data Protection and Privacy; Phishing; Training and Awareness..." required>
            </div>

            <div class="form-group">
                <label for="missionStatement">Mission Statement:</label>
                <input type="text" class="form-control" name="missionStatement" placeholder="Add your organization's mission statement here." required>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>

        </form>

        <!-- form to be used for Volunteers (Cybersecurity Specialists) -->
        <form id="VolunteerRegistration" style="display: none;">
            Become a volunteer by completing the following Volunteer Registration form:

            <input type="hidden" name="accountType" value="volunteer">

            <div class="form-group">
                <label for="name">Full Name:</label>
                <input type="text" class="form-control" name="name" placeholder="Firstname Lastname" required>
            </div>

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>

            <div class="form-group">
              <label for="registrationEmail">Email address:</label>
              <input type="email" class="form-control" name="registrationEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>

            <div class="form-group">
                <label for="registrationPassword">Password:</label>
                <input type="password" class="form-control" name="registrationPassword" placeholder="Password" required>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                <div id="passwordError" style="color: red; display: none;">Passwords do not match</div>
            </div>

            <div class="form-group">
                <label class="my-1 mr-2" for="availability">Weekly availability:</label>
                <select class="custom-select my-1 mr-sm-2" id="availability" name="availability" required>
                  <option selected>Choose...</option>
                  <option value="0-10">0-10 hrs</option>
                  <option value="11-20">11-20 hrs</option>
                  <option value="21-30">21-30 hrs</option>
                  <option value="31-40">31-40 hrs</option>
                  <option value="40+">40+ hrs</option>
                </select>
            </div>

            <div class="form-group">
                <label class="my-1 mr-2" for="backgroundCheck">Do you possess a valid criminal background check?</label>
                <select class="custom-select my-1 mr-sm-2" id="backgroundCheck" name="backgroundCheck" required>
                  <option selected>Choose...</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
            </div>

            <div class="form-group">
                <label class="my-1 mr-2" for="currentlyAvailable">Are you currently available to work?</label>
                <select class="custom-select my-1 mr-sm-2" id="currentlyAvailable" name="currentlyAvailable" required>
                  <option selected>Choose...</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="name">LinkedIn Profile:</label>
                <input type="url" class="form-control" name="linkedin" placeholder="https://www.linkedin.com/in/.../">
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    `;
%>

<%- include('../layouts/layout.ejs', { body: content }) %>