
<!-- New Password Page -->

<!-- add first part of layout template -->
<%- include('../layouts/layoutFirst.ejs') %>

<!-- page body -->
<h1>Update My Password</h1>
<br>

<form id="updatePassword">

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="New Password" required>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
        <div id="passwordError" style="color: red; display: none;">Passwords do not match</div>
    </div>

    <div class="form-group text-right">
      <input type="checkbox" id="showPasswordCheckbox"> Show Password
    </div>

    <div class="row align-items-center">
      
      <div class="col text-left">
        <!-- Submit -->
        <button type="submit" class="btn btn-primary">Update Password</button>
      </div>

    </div>
  
  </div>
</form>

<script src="/js/updatePassword.js"></script>

<!-- add last part of layout template -->
<%- include('../layouts/layoutLast.ejs') %>